.error {
    color: red;
    padding: 20px;
    border: 2px solid red;
    position: absolute;
    top: 40%;
    left: 40%;
  }

  .success {
    color: green;
    padding: 20px;
    border: 2px solid green;
    position: absolute;
    top: 40%;
    left: 40%;
  }