.loader-simple{
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
}
.loader-simple::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left-color: violet;
    border-top-color: violet;
    animation: spin 1s infinite ease-in-out;
}