@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.navBar{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;

}

.navItems{
    display: flex;
    color: white;
    margin-right: 20px;
    padding-top: 20px;
    
}

h2{
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 20px;
    padding-top: 15px;
    
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
.searchTerm {
    width: 100%;
    border: 3px solid violet;
    border-right: none;
    padding: 5px;
    height: 36px;
    margin-top: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: violet;
}
  
.searchButton {
    width: 40px;
    height: 36px;
    margin-top: 20px;
    border: 1px solid violet;
    background: violet;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

li{
    padding-left: 20px;
    list-style: none;
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

li:hover{
    color:#cc9ecc;
}

@media only screen and (max-width: 550px){
    .wrap{
        width: 30%;
        position: absolute;
        top: 3.5%;
        left: 80%;
        transform: translate(-50%, -50%);
    }
}