@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ad{
    background-color: rgb(219, 214, 218);
    max-width: 100%;
    height: 80vh;
    width: 100vh;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

strong{
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 370px;
    
}
p{
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 380px; 
    
}

img{
    height: 350px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-top: 20px;
}

button{
    height: 30px;
    width: 80px;
    margin-left: 380px;
    margin-top: 50px;
    background-color: thistle;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 2px grey;
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;


}

@media only screen and (max-width: 550px){
    img{
        margin-left: 10px;
        height: 300px;
        width: 350px;
        justify-content: center;
        align-items: center;
    }
    strong{
        margin-left: 165px;
    }
}