@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 50px;
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: violet;
}

.container{
    height: 50vh;
    width: 50vh;
    max-width: 100%;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 232, 235);
}

form > input{
    height: 2rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 70px;
    color: violet;
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    
    
}

input[type = submit]{
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    
}
p{
    text-align: center;
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: violet;
    display: flex;
    flex-direction: column;
}
a{
    padding-top: 5px;
    font-weight: bolder;
    font-size: 20px;
    color: violet;
}

@media only screen and(max-width:550px){
    body{
        display: block;
    }
    .container{
        display: block;
    }
}