@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: lato,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: violet;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px black;
}

p{
    font-family: lato,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
}

form{
    
    height: 60vh;
    width: 60vh;
    max-width: 100vh;
    background-color: violet;
    border-radius: 5px;
    box-shadow: 3px 5px 5px thistle;
}

form > input{
    display: flex;
    margin-left: 30px;
    height: 30px;
    width: 21rem;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    height: 40px;
    width: 21rem;
    color:violet;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}