@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 100px;
    padding-bottom: 80px;
    font-family: lato,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 232, 235);

}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpContainer{
    height: 70vh;
    width: 70vh;
    max-width: 100vh;
    background-color: violet;
}

form > div{
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

div > input{
    height: 30px;
    width: 20rem;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media only screen and(max-width:550px){
    body{
        display: block;
        
    }
    .signUpContainer{
        height: 100vh;
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}
