@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: white;
}

.adListContainer{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-areas: "ad1 ad2 ad3 ad4"
    "ad5 ad6 ad7 ad8"
    "footer footer footer footer";  
    grid-gap: 1.5rem;
    
}

.ad{
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 3rem;
}
.ad a{
    color: violet;
}
.newAd{
    font-family: lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 100px;
    height: 150px;
}


footer{
    grid-area: footer;
    border: 3px solid violet;
}

footer > p{
    display: flex;
    flex-direction: row;

}

.socialMediaList{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    padding-right: 15px;
    
    
    
}

.footerList{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 15px;
    padding-bottom: 10px;
      
}

@media only screen and (max-width: 550px){
    .navBar{
        display: block;
    }

    .adListContainer{
        display: grid;
        margin-left: 2rem;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 8fr 8fr 8fr 8fr 8fr 8fr 8fr 8fr 8fr;
        grid-template-areas: 
            "ad1"
            "ad2"
            "ad3"
            "ad4"
            "ad5"
            "ad6"
            "ad7"
            "ad8"
            "footer";

        
        grid-gap: 0.5px;
    }

    

    .socialMediaList{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerList{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

